<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1>hello wold this html</h1>
  <form action="/form_data" method="post">
    <label for="">name</label>
    <input type="text" name="name" id="">
    <label for="">email</label>
    <input type="text" name="email" id="">
   <label for="">password</label>
   <input type="password" name="password" id="">
   <input type="submit" value="login">
  </form>

</body>
<!-- <script src="assests/index.js"></script> -->
</html>